/* src/components/Searchbar/Searchbar.module.css */
.searchbar {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
}

.form {
  display: flex;
}

.input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
}

.button {
  padding: 8px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}