.TodoList {
  width: 100%;
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
  /* Added gap between list items */
}

.TodoList__text {
  margin: 0 10px;
}

.TodoList__text.completed {
  text-decoration: line-through;
}

.TodoList__togle {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
  background-color: rgb(35, 108, 1);
}

.TodoList__togle:hover {
  background-color: rgb(28, 86, 1);
}

.TodoList__togle:disabled {
  background-color: rgb(189, 189, 189);
  cursor: not-allowed;
}